.grid {
  background-color: #ddd;
  padding: 20px;
  margin: auto;
  width: 800px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
}

.grid div {
  background-color: #2196f3;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid .one,
.eight {
  grid-column: span 10;
}

.grid .two {
  grid-column: span 7;
}

.grid .three,
.four,
.six,
.seven {
  grid-column: span 3;
}

.grid .five {
  grid-column: span 7;
  grid-row: span 3;
}
